main {
  max-width: 1440px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: #fff;
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
}
